/* XX-Large */
@media screen and (min-width: 2500px)
{
    body
    {
        width: 2500px;
        margin: 0 auto;
    }

    /* Diminution de la taille de la liste des filtres */
    .filtres
    {
        width: 60%;
    }

    .hebergements article img 
    {
        width: 100%;
    }
}

/* X-Large */
@media screen and (min-width: 1200px)
{
    .filtres
    {
        width: 1060px;
    }
}

/* Large */
@media screen and (max-width: 1199px)
{
    /* Diminution des marges */
    header, main
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    header img, .parametres h1, .parametres p, .activites
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*repositionnement des filtres*/
    .filtres
    {
        width: 100%;
        flex-wrap: wrap;
    }

    .filtres li:first-child
    {
        font-size: 1.25em;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-bottom: 1em;
    }

    .filtres li:not(:first-of-type) 
    {
        text-align: inherit;
        margin: 1em;
        width: 40%;
    }

    /* Inversement des deux sections populaires et hebergements pour correspondre à la maquette */
    .reverseMobile
    {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Reposissionnement des sections */
    .hebergements, .populaires
    {
        width: 100%;
        margin: 2em 0 2em 0;
        padding: 1em 0 2em 0;
    }

    /*  Repositionnement des articles */
    .populaires .topPropositions
    {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Redimenssionnement des articles */
    .hebergements article
    {
        width: 30%;
    }

    .populaires article 
    {
        width: 90%;
        margin: 1em 0 1em 0;
    }

    /* Modification des titres */
    .hebergements h1, .populaires h1, .more
    {
        padding: 1.5em 2em 1.5em 2em;
    }

    /* Alignement des articles avec les titres */
    .hebergements .propositions, .populaires .topPropositions
    {
        margin-left: 2em;
        margin-right: 2em;
    }

    
    /*--- Section activités à Marseille ---*/

    /* Redimenssion de la section */
    .activites
    {
        height: 100%;
    }
    
    /* Nouvelle disposition pour la grille avec les images */
    .listeActivites 
    {
        position: relative;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr;    
        grid-template-areas: 
            "image1 image2"
            "image1 image3"
            "image4 image5"
            "image4 image6";  

    }

    /* Redimenssion automatique des articles */
    .listeActivites article
    {
        width: auto;
        height: auto;
    }

    /* Changement de la hauteur des images */
    .image1 img, .image4 img{height: 590px;}
    .image2 img, .image5 img{height: 250px;}
    .image3 img, .image6 img{height: 250px;}

    /* Passage du footer en column */
    footer
    {
        flex-direction: column;
        text-align: left;
    }

    footer section
    {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 2em 0 2em 0;
        
    }
}

/* Small */
@media screen and (max-width: 768px)
{
    /* Modification de la navbar */
    nav
    {
        flex-wrap: wrap;
        font-size: 1.25em;
    }

    nav ul
    {
        width: 100%;
    }

    nav ul li:not(:last-child)
    {
        text-align: center;
        width: 50%;
        margin-top: 1em;
        padding: 2em 0 2em 0;
        border-bottom: 3px Solid #F2F2F2;
    }

    nav ul li:first-child
    {
        border-top: inherit;
        border-bottom: 3px Solid #0065FC;
    }

    nav ul li:hover
    {
        border-top: inherit;
        border-bottom: 3px Solid #0065FC;
    }

    nav ul li:last-child
    {
        position: absolute;
        right: 20px;
        top: 1.5em;
    }

    /* Centrage du formulaire */
    form
    {
        margin: 3em auto 2em auto;
    }

    /* Ajustements des filtres */
    .filtres 
    {
        justify-content: center;
    }

    .filtres li:not(:first-of-type) 
    {
        width: 50%;
    }

    /* Ajustement de la taille des articles */
    .hebergements article 
    {
        width: 45%;
    }

    /* Modification de l'espace entre les photos de la grille */
    .listeActivites
    {
        gap: 20px;
    }
}


@media screen and (min-width: 576px)
{
    /* Au dessus de 576px on affiche le texte */
    form .fa-search
    {
        display: none;
    }
}

/* Extra small */
@media screen and (max-width: 575px)
{
    nav img 
    {
        margin-top: 1.5em;
        width: 30%;
    }

    nav ul li 
    {
        padding: 0em;
    }

    nav ul li:last-child 
    {
        top: 2.3em;
        right: 20px;
    }

    /* Modification de la taille de la police pour la navbar */
    nav ul li a 
    {
        font-size: 1em;
    }

    /* Modification de la taille de la police pour les textes et liens de la page */
    p, a 
    {
        font-size: 1em;
    }

    /* Modification de la taille de police pour le formulaire de recherche */
    form, input, button, .fa-map-marker-alt 
    {
        font-size: 1em;
    }

    /* Affichage de l'icone à la place du texte pour le formulaire */
    form span
    {
        display: none;
    }

    form .fa-search
    {
        display: inherit;
    }

    /* Modification des filtres */
    .filtres li:first-child
    {
        text-transform: inherit;
        text-align: left;
    }

    .filtres li:not(:first-of-type) 
    {
        margin: 0.5em auto;
        width: 80%;
    }

    .parametres p:last-child
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .fa-info 
    {
        padding: 3px 9px 3px 9px;
    }

    .parametres p:last-child i
    {
        margin-right: 20px;
    }

    /* Retrait des marges sur les sections */
    header, main
    {
        margin: 0;
    }

    /* Retrait de l'arrondi des bordures */
    .hebergements, .populaires
    {
        border-radius: 0;
        margin: 1em 0 1em 0;
    }

    /* Retrait du background */
    .hebergements
    {
        background-color: #FFFFFF;
    }

    /* Alignement des titres */
    .hebergements h1, .populaires h1, .more
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements .propositions, .populaires .topPropositions {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Ajustement de la taille des articles */
    .hebergements article, .populaires article
    {
        width: 100%;
    }

    .populaires article a p:last-child {
        position: relative;
    }

    .populaires article img 
    {
        width: 125px;
        height: 200px;
    }

    /* Modification du format pour la grille */
    .listeActivites 
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "image1" 
        "image2"
        "image3"
        "image4"
        "image5"
        "image6";
    }

    .image1 img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img{height: 200px;}

    /* Modification du formulaire */
    form
    {
        width: 90%;
    }

    .fa-map-marker-alt 
    {
        margin-right: 0;
    }

    input[type="text"]
    {
        width: 80%;
        padding: 10px 0 10px 4%;
    }

    button[type="submit"] 
    {
        width: 15%;
        border-radius: 10px;
    }
}
