/*--- Définition des polices utilisées pour le site ---*/
@font-face 
{
    font-family: 'Raleway';
    src: url('../polices/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'RalewayBold';
    src: url('../polices/Raleway/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/*--- Mise en forme du body ---*/
body
{
    margin: 0 4em 0 4em;
    font-family: "Raleway", sans-serif;
}

/*--- Définition de la police pour les titres ---*/
h1, h2 {font-family: "RalewayBold", sans-serif;}

/*--- Mise en forme de la navbar ---*/
nav 
{
    justify-content: space-between;
    margin-bottom: 1.5em;
}

nav img
{
    margin-top: 1.5em;
    width: 8em;
}

nav, ul
{
    display: flex;
    flex-direction: row;
}

nav ul li {padding: 2em;}

nav ul li:first-child  {border-top: 3px Solid #0065FC;}

nav ul li:first-child a {color:#0065FC;}

nav ul li:last-child a
{
 font-family: "RalewayBold";
 color:#0065FC;
}

nav ul li a
{
    color: #000000;
    text-decoration: none;
    font-size: 1.25em;
}

nav ul li:hover
{
    border-top: 3px Solid #0065FC;
}

h1
{
    font-size: 1.5em;
    line-height: 2em;
}

header p, header a {font-size: 1.25em;}

/*--- Mise en forme du formulaire ---*/
form, input, .fa-map-marker-alt
{
    font-family: "RalewayBold";
    font-size: 1.1em;
    border: none;
}

form
{
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 50px;
    margin: 1.5em 0 1.5em 0;
    border: 1px Solid #F2F2F2;
    border-radius: 1em;
    align-items: center;
    overflow: hidden;
}

/*Logo position formulaire de recherche*/
.fa-map-marker-alt
{
    padding: 20px;
    background-color: #F2F2F2;
    margin-right: 1em;
}

/* Mise en forme du champs texte */
input[type="text"], input[type="text"]::placeholder
{
    font-weight: bold;
    color: #000000;
    width: 210px;
}

input[type="submit"]
{
    width: 140px;
    height: 50px;
    background-color: #0065FC;
    color: #FFFFFF;
}

/*--- Mise en forme de la liste des filtres ---*/
.filtres 
{
    margin: 3em 0 2.5em 0;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.filtres li {font-family: "RalewayBold"; }

.filtres li:not(:first-of-type)
{
    border: 2px solid #D9D9D9;
    border-radius: 3em;
    text-align: center;
    padding-right: 2em;
    overflow: hidden;
}

/* Mise en forme des logo*/
.filtres i
{
    color: #0065FC;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 4em;
    margin-right: 1em;
}

/* Correction pour le logo "Familial" (S'affiche mal si on reste une un padding de 15px)*/
.filtres .fa-child {padding: 15px 18px 15px 18px; }

/* Mise en forme des liens */
.filtres li a
{
    text-decoration: none;
    color: #000000;
}

/*--- Mise en forme de la phrase annoncçant les résultats ---*/
.fa-info
{
    color: #0065FC;
    padding: 10px 16px 10px 16px ;
    border: 2px Solid #D9D9D9;
    border-radius: 3em;
}




/* ---- Mise en forme de la section Main du site ---- */

/*--- mise en forme de la section hebergements du site ---*/
.hebergements
{
    margin: 3em 0 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements article {width: 60%;}

.hebergements aside {width: 30%;}

.hebergements article, .hebergements aside
{
    background-color: #F2F2F2;
    border-radius: 1.5em;
}

.hebergements h2 {font-size: 1.24em;}

.hebergements article {padding: 1.5em 3em 1.5em 3em;}

.hebergements article ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0 1em 0;
}

.hebergements ul li
{
    background-color: #FFFFFF;
    border: 5px Solid #FFFFFF;
    border-radius: 1.5em;
    margin-bottom: 2em;
    overflow: hidden;
    box-shadow: 2px 2px 5px #D9D9D9, -2px -2px 5px #D9D9D9;
}

.hebergements ul li:hover
{
    box-shadow: 5px 5px 8px #B9B9B9, -5px -5px 8px #B9B9B9;
}

.hebergements article img
{
    width: 300px;
    height: 150px;
    padding-bottom: 0.8em;
    object-fit: cover;
}

.hebergements article a, .hebergements aside a
{
    text-decoration: none;
    color: #000000;
}

.hebergements article li a :not(img, i, span)
{
    padding: 0 0 0 0.8em;
    line-height: 1.5em;
}

.prix {font-family: "RalewayBold", sans-serif;}

/*Couleur des icones*/
.hebergements .fa-star {color: #0065FC;}

.hebergements .gris {color: #D9D9D9;}

/* Lien "Afficher plus" */
.more
{
    font-size: 1.25em;
    font-family: "RalewayBold";
}

.more:hover
{
    color: #0065FC;
    text-decoration: underline;
    text-decoration-color: #0065FC;
}

/*--- mise en forme de la section "les plus populaires" du site ---*/

/*--- Mise en forme du container ---*/
.hebergements aside{padding: 1.5em 0;}

/*--- Mise en forme du titre ---*/
.hebergements aside h1
{
    margin: 0 2em 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*--- Mise en forme de la liste ---*/
aside ul
{
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    align-items: center;
}

aside ul li a
{
    display: flex;
    flex-direction: row;
}

.hebergements aside ul li div
{
    position: relative;
    padding: 1em 0 0 0 ;
}

.hebergements aside ul li a p:last-child
{
    position: absolute;
    bottom: 15px;
}

aside ul li {width: 80%;}

aside img 
{
    width: 150px;
    height: 150px;
    padding-right: 1em;
    object-fit: cover;
}