/*--- Définition des polices utilisées pour le site ---*/
@font-face 
{
    font-family: 'Raleway';
    src: url('../polices/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'RalewayBold';
    src: url('../polices/Raleway/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/*--- Mise en forme du body ---*/
body
{
    margin: 0 4em 0 4em;
    font-family: "Raleway", sans-serif;
}

/*--- Définition de la police pour les titres ---*/
h1, h2 {font-family: "RalewayBold", sans-serif;}

/*--- Mise en forme de la navbar ---*/
nav 
{
    justify-content: space-between;
    margin-bottom: 1.5em;
}

nav img
{
    margin-top: 1.5em;
    width: 8em;
}

nav, ul
{
    display: flex;
    flex-direction: row;
}

nav ul li {padding: 2em;}

nav ul li:first-child  {border-top: 3px Solid #0065FC;}

nav ul li:first-child a {color:#0065FC;}

nav ul li:last-child a
{
 font-family: "RalewayBold";
 color:#0065FC;
}

nav ul li a
{
    color: #000000;
    text-decoration: none;
    font-size: 1.25em;
}

nav ul li:hover
{
    border-top: 3px Solid #0065FC;
}

/*--- Mise en forme de la section main ---*/
main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section{width: 100%;}

/*--- Mise en forme des titres du site ---*/
h1{font-size: 1.5em; line-height: 2em;}

/*--- Mise en forme du texte hors sections ---*/
p, a {font-size: 1.25em;}

.hebergements h2, .hebergements a, .hebergements p, .populaires h2, .populaires a, .populaires p{font-size: 1em;}

/*--- Mise en forme du formulaire ---*/
form, input, .fa-map-marker-alt
{
    font-family: "RalewayBold";
    font-size: 1.1em;
    border: none;
}

form
{
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 50px;
    margin: 1.5em 0 1.5em 0;
    border: 1px Solid #F2F2F2;
    border-radius: 1em;
    align-items: center;
    overflow: hidden;
}

/*Logo position formulaire de recherche*/
.fa-map-marker-alt
{
    padding: 20px;
    background-color: #F2F2F2;
    margin-right: 1em;
}

/* Mise en forme du champs texte */
input[type="text"], input[type="text"]::placeholder
{
    font-weight: bold;
    color: #000000;
    width: 210px;
}

/*--- Mise en forme du bouton rechercher ---*/
input[type="submit"]
{
    width: 140px;
    height: 50px;
    background-color: #0065FC;
    color: #FFFFFF;
}

/*--- Mise en forme de la liste des filtres ---*/
.filtres 
{
    margin: 3em 0 2.5em 0;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.filtres li {font-family: "RalewayBold";}

.filtres li:not(:first-of-type)
{
    border: 2px solid #D9D9D9;
    border-radius: 3em;
    text-align: center;
    padding-right: 2em;
    overflow: hidden;
}

.filtres li:not(:first-of-type):hover
{
    border-color: #0065FC;
}

/* Mise en forme des logo*/
.filtres i
{
    color: #0065FC;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 4em;
    margin-right: 1em;
}

/* Correction pour le logo "Familial" (S'affiche mal si on reste une un padding de 15px)*/
.filtres .fa-child {padding: 15px 18px 15px 18px; }

/* Mise en forme des liens */
.filtres li a
{
    text-decoration: none;
    color: #000000;
}

/*--- Mise en forme de la phrase annoncçant les résultats ---*/
.fa-info
{
    color: #0065FC;
    padding: 10px 16px 10px 16px ;
    border: 2px Solid #D9D9D9;
    border-radius: 3em;
}

/*--- Placement des sections hebergements & populaires  ---*/
.hebergements, .populaires
{
    margin: 2.5em 0;
}

/*--- Alignement des titres ---*/
.hebergements h1, .populaires h1
{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.populaires h1
{
    padding-left: 2em;
    padding-right: 2em;;
}

/*--- mise en forme de la section hebergements du site ---*/
.hebergements {width: 60%; padding: 0 3em 1.5em 3em;}

.populaires {width: 30%;}

.hebergements, .populaires {background-color: #F2F2F2; border-radius: 1.5em;}

.prix {font-family: "RalewayBold", sans-serif;}

/*--- Couleur des étoiles ---*/
.fa-star {color: #0065FC;}

.gris{color: #D9D9D9;}

.hebergements .propositions
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements article, .populaires article
{
    background-color: #FFFFFF;
    border: 5px Solid #FFFFFF;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 2px 2px 5px #D9D9D9, -2px -2px 5px #D9D9D9;
}

.hebergements article {margin-bottom: 2em;}

.hebergements article:hover, .populaires article:hover
{
    box-shadow: 5px 5px 8px #B9B9B9, -5px -5px 8px #B9B9B9;
}

.hebergements article a
{
    text-decoration: none;
    color: #000000;
}

.hebergements article a :not(img, i, span)
{
    padding: 0 0 0 0.8em;
    line-height: 1.5em;
}

.hebergements article img
{
    width: 300px;
    height: 150px;
    padding-bottom: 0.8em;
    object-fit: cover;
}

/*--- Lien "Afficher plus" ---*/
.hebergements .more
{
    color: #000000;
    text-decoration: none;
    font-size: 1.25em;
    font-family: "RalewayBold";
}

.hebergements .more:hover
{
    color: #0065FC;
    text-decoration: underline;
    text-decoration-color: #0065FC;
}

/*--- Mis en forme de la section "Les plus Populaires" ---*/

.populaires .topPropositions
{
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
}

.populaires h1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.populaires article
{
    margin: 1em;
    width: 80%;
}

.populaires article a
{
    display: flex; 
    flex-direction: row; 
    text-decoration: none;
    color: #000000;
}

.populaires article a :not(img)
{
    padding-top: 0.5em;
}

.populaires div
{
    position: relative;
}

.populaires article a p:last-child
{
    position: absolute;
    bottom: 15px;
}

.populaires article img 
{
    width: 150px;
    height: 150px;
    padding-right: 1em;
    object-fit: cover;
}

/*---- Mise en forme de la section Activités ----*/

.activites article
{
    background-color: #FFFFFF;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 2px 2px 5px #D9D9D9, -2px -2px 5px #D9D9D9;
}

.activites article a
{
    color: #000000;
    text-decoration: none;
}

.activites article a:hover
{
    color: #0065FC;
    text-decoration: none;
}

.activites h2
{
    padding: 0.8em;
}

.activites article img
{
    width: 100%;
}

.listeActivites 
{
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    height: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    grid-template-areas:
     "image1 image2 image4 image5"
     "image1 image3 image4 image6";
}

.image1 { grid-area: image1;}

.image2 { grid-area: image2; }

.image3 { grid-area: image3; }

.image4 { grid-area: image4; }

.image5 { grid-area: image5; }

.image6 { grid-area: image6; }


.image1, .image4
{
    height: 550px;
    width: auto;
}

.image2, .image5
{
    height: 300px;
    width: auto;
}

.image3, .image6
{
    height: 200px;
    width: auto;
}

.image1 img, .image4 img{width: 400px; height: 500px; object-fit: cover}


.image2 img, .image5 img{width: 400px; height: 250px; object-fit: cover}
.image3 img, .image6 img{width: 400px; height: 150px; object-fit: cover}

